<!DOCTYPE html>
<html>
    <head>
        <title>Ruta hola</title>
    </head>
    <body>
        <h1>Este es mi primer template</h1>
        {% if nombre == 'Fabrizio' %}
            <h2>El administrador ha Ingresado, bienvenido admin</h2>
        {% else %}
            <h2>Usuario Externo ha ingresado</h2>
        {% endif %}
        <h2>Hola {{ nombre }}</h2>

        {% if mascotas %}
            <h3>Lista de mascotas</h3>
            <ol>
                {% for elemento in mascotas %}
                    <li>{{ elemento }}</li>
                {% endfor %}
            </ol>
        {% endif %}
    </body>
</html>